# The Idempotent Query Challenge

_This SQLChallenge uses the Northwind Database, which is copyright Microsoft and shared under the MIT license. To set up the database, run 01_setup-recreate Northwind.sql against a SQL Server instance dedicated to testing. Some parts of this challenge only work on SQL Server 2016 and higher._

## 1. Make this TSQL for an index create statement rerunnable

* If an index with this name exists on this table, you can assume that it has the correct definition (you do not have to check that the definition matches)
* Do not drop the index or cause it to be automatically dropped when re-run

In [9]:
USE Northwind;
GO

CREATE NONCLUSTERED INDEX ix_Customers_City_PostalCode_INCLUDES on dbo.Customers 
    (City, PostalCode) 
    INCLUDE (Region);
GO

### Write and test your solution here

In [0]:
USE Northwind;
GO

___
## 2. Make this view creation statement rerunnable in two ways -- without using DROP VIEW

In [7]:
USE Northwind;
GO

CREATE VIEW [dbo].[Idempotent] AS
SELECT Orders.ShippedDate, 
    Orders.OrderID, 
    [Order Subtotals].Subtotal
FROM Orders 
INNER JOIN [Order Subtotals] ON Orders.OrderID = [Order Subtotals].OrderID
WHERE Orders.ShippedDate IS NOT NULL
GO

### 2.A First, write this in a way that will work on SQL Server 2005 and higher
* Not that you have to find a 2005 instance to test it on. Simply use a syntax that was introduced well before SQL Server 2016 SP1.
* Write your solution in a way that does not use DROP VIEW

In [0]:
USE Northwind;
GO

### 2.B Write it in the *new* way that works in SQL Server 2016 SP1 and higher

In [0]:
USE Northwind;
GO

___
## 3. Make these DROP TABLE statements rerunnable in two ways

First, create the tables. Rerun as needed for testing.

In [1]:
USE Northwind;
GO

CREATE TABLE dbo.dropme1 (col1 int null);
CREATE TABLE dbo.dropme2 (col2 int null);
GO

Here is the non-idempotent drops to rewrite:

In [3]:
USE Northwind;
GO

DROP TABLE dbo.dropme1;

DROP TABLE dbo.dropme2;
GO

### 3.A Write this in the "classic" way which works on versions lower than SQL Server 2016

In [0]:
USE Northwind;
GO

### 3.B Write this in the "new" way introduced in SQL Server 2016

In [0]:
USE Northwind;
GO

___
## 4. Write this set of permission statements in a rerunnable way

In [7]:
USE Northwind;
GO

CREATE ROLE NewRole AUTHORIZATION dbo;
GO

GRANT SELECT on schema::dbo TO NewRole;
GO

CREATE USER NewUser WITHOUT LOGIN;
GO

ALTER ROLE NewRole ADD MEMBER NewUser;
GO

--Validate
EXECUTE AS USER = 'NewUser';
GO
SELECT SUSER_NAME(), USER_NAME(); 

SELECT TOP 1 CompanyName
FROM dbo.Customers;
GO


REVERT;
GO

(No column name),(No column name)
S-1-9-3-1268272048-1262666524-3751799949-301852570,NewUser

CompanyName
Alfreds Futterkiste

### Solution goes here

In [8]:
USE Northwind;
GO